<div class="loadingSpinner" *ngIf="isLooder">
    <div class="loader"></div>
</div>
<div id="IFC_Vwr" style="position: absolute;"></div>
<div class="mainDashboardContainer" style="display: none;opacity: 0;">

    <div class="top-center-search">
        <div class="search-wrapper">
            <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"
                viewBox="0 0 24 24" stroke="#aaa">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-4.3-4.3M10.5 18a7.5 7.5 0 1 1 0-15 7.5 7.5 0 0 1 0 15z" />
            </svg>
            <input type="text" placeholder="Search Here..." id="globalSearchVillages" />
        </div>
    </div>
   <div class="topNavButtons">
        <span class="btn_info_div">
            <div class="btn_hover" id="0" [ngClass]="{'active': activeButtonId === '0'}"
                (click)="ProjectsButton1Click('0')">
                <div class="upper_text"><span>Total Projects</span></div>
                <div class="lower_text"><span>Total Projects</span></div>
            </div>
        </span>
        <span class="btn_info_div">
            <div class="btn_hover" id="3" [ngClass]="{'active': activeButtonId === '3'}"
                (click)="HandBOfficeButton1Click('3')">
                <div class="upper_text"><span>H&B </span></div>
                <div class="lower_text"><span>H&B </span></div>
            </div>
        </span>
        <span class="btn_info_div">
            <div class="btn_hover" id="2" [ngClass]="{'active': activeButtonId === '2'}"
                (click)="TrunkButton1Click('2')">
                <div class="upper_text"><span>Trunk</span></div>
                <div class="lower_text"><span>Trunk</span></div>
            </div>
        </span>
        <span class="btn_info_div">
            <div class="btn_hover" id="1" [ngClass]="{'active': activeButtonId === '1'}" (click)="LpsButton1Click('1')">
                <div class="upper_text"><span>LPS</span></div>
                <div class="lower_text"><span>LPS</span></div>
            </div>
        </span>
        <!-- <span class="btn_info_div">
            <div class="btn_hover" id="4" [ngClass]="{'active': activeButtonId === '4'}"
                (click)="HandBBuildingsButton1Click('4')">
                <div class="upper_text"><span>H&B Buildings</span></div>
                <div class="lower_text"><span>H&B Buildings</span></div>
            </div>
        </span> -->
    </div>

    <div class="leftSideVillageFeaturesBtnsCntnr" id="buttonWrapper">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="eachFretureBtns btn btn-secondary" data-Serv="ortho" title="ortho" id="pills-ortho-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-ortho" type="button" role="tab"
                    aria-controls="pills-home" aria-selected="false">
                    <img src="./assets/icons/pills_images/ortho.webp">
                    <span>ortho</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="eachFretureBtns btn btn-secondary" data-Serv="dem" title="dem" id="pills-dem-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-dem" type="button" role="tab" aria-controls="pills-dem"
                    aria-selected="false">
                    <img src="./assets/icons/pills_images/dem.webp">
                    <span>dem</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="eachFretureBtns btn btn-secondary" data-Serv="model" title="model" id="pills-model-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-model" type="button" role="tab"
                    aria-controls="pills-model" aria-selected="false">
                    <img src="./assets/icons/pills_images/agc.webp">
                    <span>model</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="eachFretureBtns btn btn-secondary" data-Serv="gis" title="gis" id="pills-gis-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-gis" type="button" role="tab" aria-controls="pills-gis"
                    aria-selected="false">
                    <img src="./assets/icons/pills_images/jsonImg.webp">
                    <span>gis</span>
                </button>
            </li>
            <!-- <li class="nav-item" role="presentation">
                <button class="eachFretureBtns btn btn-secondary" data-Serv="agc" title="agc" id="pills-agc-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-agc" type="button" role="tab" aria-controls="pills-agc"
                    aria-selected="false">
                    <img src="./assets/icons/pills_images/agc.webp">
                    <span>agc</span>
                </button>
            </li> -->
        </ul>
        <div class="dropdown-container" data-multi-select="false" id="multi_dropdown-container">
            <div class="multi_dropdown-header">
                <span class="dropdown-text">Select an option</span>
                <span class="dropdown-arrow">▼</span>
            </div>
            <ul class="dropdown-list">
              
            </ul>
        </div>

    </div>
    <div class="slide-up-panel" id="slidePanel">
        <div class="search_cntnr_serviceBtm">
            <form class="sidebar-search " role="search" aria-label="Search categories">
                <svg aria-hidden="true" viewBox="0 0 24 24" width="16" height="16" style="opacity:.8">
                    <path d="M21 21l-4.3-4.3M10.5 18a7.5 7.5 0 1 1 0-15 7.5 7.5 0 0 1 0 15z" fill="none" stroke="#aaa"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <input type="search" id="searchVillages" placeholder="Search Here..." aria-label="Search categories"
                    autocomplete="off">
            </form>
        </div>
        <div class="selectAllBtnDiv">

            <div class="checkbox-wrapper-15 villCheck">
                <input class="inp-cbx inputVallagesCheck" id="selectAllVill" type="checkbox" style="display: none;">
                <label class="cbx" for="selectAllVill">
                    <span>
                        <svg width="12px" height="9px" viewBox="0 0 12 9">
                            <polyline points="1 5 4 8 11 1"></polyline>
                        </svg>
                    </span>
                </label>
            </div>
            <div class="selectAllLable"><label for="selectAllVill">Select all</label></div>
        </div>




        <button class="close-btn" id="closeBtn"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" style="margin-top: -3.3px;">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
            </svg></button>

        <div id="panelContent">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade" id="pills-ortho" role="tabpanel" aria-labelledby="pills-ortho-tab"
                    tabindex="0">
                    <!-- ortho -->
                </div>
                <div class="tab-pane fade" id="pills-dem" role="tabpanel" aria-labelledby="pills-dem-tab" tabindex="0">
                    <!-- dem -->
                </div>

                <div class="tab-pane fade" id="pills-model" role="tabpanel" aria-labelledby="pills-model-tab"
                    tabindex="0">
                    <!-- model -->
                </div>
                <div class="tab-pane fade" id="pills-gis" role="tabpanel" aria-labelledby="pills-gis-tab" tabindex="0">
                    <!-- gis -->
                </div>

                <!-- <div class="tab-pane fade" id="pills-agc" role="tabpanel" aria-labelledby="pills-agc-tab" tabindex="0">
              
                </div> -->
            </div>
        </div>
    </div>
    <!-- offcanvas.component.html -->
    <!-- <button style="position: absolute;z-index: 999;top: 10px;left: 10px;" (click)="toggleOffcanvas()">Toggle Offcanvas</button> -->


    <div class="selecetions_4r_basemap">
        <div class="extra-icons-wrapper" id="extraIcons">
            <div class="ggl_map_layer_icos" title="MAPBOX" data-layer="MAPBOX">
                <img src="./assets/icons/ic_defaultMap.webp" alt="MAPBOX" />
            </div>
            <div class="ggl_map_layer_icos" title="GOOGLE-ROADS" data-layer="GOOGLE-ROADS">
                <img src="./assets/icons/ic_street.webp" alt="GOOGLE-ROADS" />
            </div>
            <!-- <div class="ggl_map_layer_icos" title="MAPBOX" data-layer="MAPBOX">

				<img src="./assets/icons/ic_defaultMap.webp" alt="MAPBOX" />
			</div> -->
        </div>
        <div id="selectedIcon" class="ggl_map_layer_icos" title="GOOGLE-SATELLITE" data-layer="GOOGLE-SATELLITE">
            <img src="./assets/icons/ic_satellite-1x.webp" alt="GOOGLE-SATELLITE" />
        </div>

    </div>
    <!-- offcanvas.component.html -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightFeatures" aria-labelledby="offcanvasLabel"
        data-bs-backdrop="false" data-bs-scroll="true">
        <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
        <div class="offcanvas-body">
            <!-- <div href="" class="modelcanvasInsideFeatures" title="Bim"  (click)="openModal('Bim')">
                <img src="/assets/icons/pills_images/bim.webp" alt="">
                <span>Bim</span>
            </div> -->
            <a href="#" class="modelcanvasInsideFeatures" title="Bim"  id="dyn_bim_vwr" target="_blank">
                <img src="/assets/icons/pills_images/bim.webp" alt="">
                <span>Bim</span>
            </a>
            <div class="modelcanvasInsideFeatures" title="Video" (click)="openModal('Video')">
                <img src="/assets/icons/pills_images/Video.webp" alt="">
                <span>Video</span>
            </div>
            <div class="modelcanvasInsideFeatures" title="Images" (click)="openModal('Images')">
                <img src="/assets/icons/pills_images/galery.webp" alt="">
                <span>Images</span>
            </div>
            <div class="modelcanvasInsideFeatures" title="CCTV" (click)="openModal('CCTV')">
                <img src="/assets/icons/pills_images/cctv.webp" alt="">
                <span>CCTV</span>
            </div>

        </div>
    </div>


    <div class="modal zoomin_animation fade" id="full_port_folio_pop" tabindex="-1" aria-hidden="true"
        style="background-color: rgba(0, 0, 0, 0.1);">
        <div class="modal-dialog modal-dialog-zoom modal-fullscreen">
            <div class="modal-content">
                <div class="modal-body p-2">
                    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                    <!-- {{ modalContent }} -->
                    <!-- <div class="modelBodyDivCntnt" [innerHTML]="modalContent"></div> -->

                    <div class="modelBodyDivCntnt">

                        <!-- Video -->
                        <video *ngIf="modalContent === 'Video'" width="100%" height="100%" controls autoplay>
                            <source [src]="'repos/' + selectedModelVideo + '.mp4'" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>

                        <!-- BIM Model -->
                        <iframe *ngIf="modalContent === 'Bim'" [src]="safeBimUrl" width="100%" height="100%"
                            style="border:none;"></iframe>

                        <!-- CCTV Feed -->
                        <iframe *ngIf="modalContent === 'CCTV'" [src]="safeCctvUrl" width=" 100%" height="100%"
                            style="border:none;"></iframe>

                        <div *ngIf="modalContent === 'Images'" class="corsole_cntnr">
                            <div id="carouselImagesShow" class="carousel slide carousel-fade" data-bs-interval="false"
                                data-bs-ride="false">
                                <div class="carousel-inner" style="height: 100%;">
                                    <div *ngFor="let img of images; let i = index" class="carousel-item"
                                        [class.active]="i === activeIndex">
                                        <img [src]="img" class="d-block mx-auto corsole-image" alt="Image {{i+1}}">
                                    </div>
                                </div>

                                <!-- Prev/Next Controls -->
                                <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselImagesShow"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselImagesShow"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button> -->

                                <!-- Prev/Next Controls (custom click handlers) -->
                                <button class="carousel-control-prev" type="button" (click)="ChangeSlide('prev')">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" (click)="ChangeSlide('next')">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>

                            </div>

                            <!-- Thumbnail Tabs at Bottom -->
                            <div class="modal-footer border-0">
                                <div *ngFor="let img of images; let i = index" class="thumbnail-wrapper"
                                    (click)="selectImage(i)">
                                    <img [src]="img" class="img-thumbnail thumbnail-img"
                                        [class.active-thumbnail]="i === activeIndex">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- <div class="cls_basemap_sel" (click)="toggleBasemapList()">
    <div class="selecetions_4r_basemap" id="basemapList">
        <ul class="ul_list_basemaps">
            <li><span>Google - S</span><input type="radio" name="basemap" (change)="changeBasemap($event)"
                    value="GOOGLE-SATELLITE"></li>
            <li><span>Google - R</span><input type="radio" name="basemap" (change)="changeBasemap($event)"
                    value="GOOGLE-ROADS"></li>
            <li><span>Openstreet</span><input type="radio" name="basemap" (change)="changeBasemap($event)"
                    value="OPENSTREET"></li>

        </ul>
    </div>
    <i class="bi bi-stack"></i>
</div> -->
</div>